/* header */
.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}


.logo-header {
    margin-left:16px;
    margin-top:4px;
    background-image: url('/img/gc-logo-black-bg.png');    
    width: 33px;
    height: 34px;
    display:inline;
    float:left;
}

.word {
    margin:0 auto;
    text-align: center;
       width: 100%;
}

.word-slot {

}

.practice-stack-headers {
    width:100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}

/* layout and util */

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}

.content {
    margin-top:50px;
    width:100%
}

.another {
    border: 1px solid black;
}



footer div {
    margin-top: 50px;
}



.hidden {
    display:none
}

.separator {
    border-top:1px solid rgba(0, 0, 0, 0.2);
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
    margin:1.5em 0;
    width:350px
}


/* labels */

.stack-title {
    display: inline;
}

.progress-label {
    position:relative;
    margin-top: 0;
    left:-10px;
    display:inline;
}

/* controls and components */

.speech-button {
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.top-controls {
    margin-top: 21px;
    margin-left:160px;

    a {
        margin-left:20px;
    }
}

.annyangOn {
    background-color: red;
}

.next-button, .prev-button {
    position: relative;
    bottom:100px;
    cursor: pointer;
}

.thumbs-down {
    color:#FF0000;
    cursor:pointer
}

.thumbs-up {
    color:#59A80F;
    cursor:pointer
}

.practice-controls-top {    
    text-align: center;
    margin-top: 50px;
}

.practice-controls-mid{
    
    position:relative;
    top:100px;

        i {
            cursor: pointer;
        }
}

.practice-controls-bottom{    
    width: 80%;
    margin: 0 auto;
    margin-top:15px;
}

.progress {
    margin-bottom: 0;
    opacity: 0.6;
    width: 55%;
    margin:0 auto;
}


/* flashcard */

.flashcard {
    border:1px solid #000;
    width:500px;
    height:350px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    display:table-cell;
    vertical-align:middle;
    font-size:3em
}



.flip {
    -webkit-perspective:800;
    width:400px;
    height:200px;
    position:relative;
    margin:0 auto;
    margin-top:20px;    
}

.flip .card.flipped {
    -webkit-transform:rotatex(-180deg)
}

.flip .card {
    width:100%;
    height:100%;
    -webkit-transform-style:preserve-3d;
    -webkit-transition:0.5s
}

.flip .card .face {
    width:100%;
    height:100%;
    position:absolute;
    -webkit-backface-visibility:hidden;
    z-index:2;
    font-family:Georgia;
    font-size:3em;
    text-align:center;
    line-height:200px
}

.flip .card .front {
    position:absolute;
    z-index:1;
    -webkit-box-shadow:rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px inset;
    background-color:#f7f7f7;
    background-image:linear-gradient(#f9f9f9, #f5f5f5);
    background-repeat:repeat-x;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    box-shadow:rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px inset;
    color:#0A5C84;
    cursor:pointer;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px
}

.flip .card .back {
    -webkit-transform:rotatex(-180deg);
    -webkit-box-shadow:rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px inset;
    background-color:#f7f7f7;
    background-image:linear-gradient(#f9f9f9, #f5f5f5);
    background-repeat:repeat-x;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    box-shadow:rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px inset;
    color:#0A5C84;
    cursor:pointer;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px
}


