/* header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\000032}}
.navbar .nav > li > a.brand {
  padding-left: 20px;
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\000038}}
.logo-header {
  margin-left: 16px;
  margin-top: 4px;
  background-image: url("/img/gc-logo-black-bg.png");
  width: 33px;
  height: 34px;
  display: inline;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\0000318}}
.word-slot {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\0000325}}
.practice-stack-headers {
  width: 100%;
  text-align: center;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

/* layout and util */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\0000336}}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\0000340}}
.clearfix:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\0000344}}
.content {
  margin-top: 50px;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\0000349}}
.another {
  border: 1px solid black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\0000355}}
footer div {
  margin-top: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\0000361}}
.hidden {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\0000365}}
.separator {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 1.5em 0;
  width: 350px;
}

/* labels */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\0000375}}
.stack-title {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\0000379}}
.progress-label {
  position: relative;
  margin-top: 0;
  left: -10px;
  display: inline;
}

/* controls and components */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\0000388}}
.speech-button {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\0000391}}
.speech-button:hover {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\0000396}}
.top-controls {
  margin-top: 21px;
  margin-left: 160px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003100}}
.top-controls a {
  margin-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003105}}
.annyangOn {
  background-color: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003109}}
.next-button, .prev-button {
  position: relative;
  bottom: 100px;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003115}}
.thumbs-down {
  color: #FF0000;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003120}}
.thumbs-up {
  color: #59A80F;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003125}}
.practice-controls-top {
  text-align: center;
  margin-top: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003130}}
.practice-controls-mid {
  position: relative;
  top: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003135}}
.practice-controls-mid i {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003140}}
.practice-controls-bottom {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003146}}
.progress {
  margin-bottom: 0;
  opacity: 0.6;
  width: 55%;
  margin: 0 auto;
}

/* flashcard */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003156}}
.flashcard {
  border: 1px solid black;
  width: 500px;
  height: 350px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003170}}
.flip {
  -webkit-perspective: 800;
  width: 400px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003179}}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003183}}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003190}}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  z-index: 2;
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
  line-height: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003202}}
.flip .card .front {
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px inset;
  background-color: #f7f7f7;
  background-image: linear-gradient(#f9f9f9, #f5f5f5);
  background-repeat: repeat-x;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px inset;
  color: #0A5C84;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mgenev\/sites\/geminiFc\/public\/sass\/common\.scss}line{font-family:\00003221}}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
  -webkit-box-shadow: rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px inset;
  background-color: #f7f7f7;
  background-image: linear-gradient(#f9f9f9, #f5f5f5);
  background-repeat: repeat-x;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px inset;
  color: #0A5C84;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
