	<section data-ng-controller="StacksController" data-ng-init="findOne(); findCards();">
		
	<span>{{stack.created | date:'medium'}}</span> /
	<span>{{stack.user.name}}</span>
	<h2>{{stack.title}} <a data-ng-show="global.user._id == stack.user._id" href="/#!/stacks/{{stack._id}}/edit">edit</a></h2>
	<div>Stack: {{stack.language1}} - {{stack.language2}}</div>

<!-- 	<h1><a href="/#!/articles/create/{{stack._id}}">Create a flashcard</a></h1>
 -->
	<ul class="articles unstyled">
		<li data-ng-repeat="article in articles">		
			<h3><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h3>
		</li>
	</ul>
</section>