<section data-ng-controller="ArticlesController" data-ng-init="findOne();annyangInit();">

    <div class="container-fluid">
    	<div class="card-wrapper">
        <span>Stack:</span>
        <h3 class="stack-title">{{stack.title}}</h3>
            <div class="flip">
                <div class="card">
                    <div ng-click="flip();" class="face front">
                        {{article.side1}}
                    </div>
                    <div ng-click="flip();" class="face back">
                        {{article.side2}}
                    </div>
                </div>
            </div>
         </div>
	</div>

</section>